* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  
  /* background: #333; */
}
svg {
  width: 0;
  height: 0;
}
.ring {
  position: relative;
  height: 400px;
  width: 400px;
  border: 10px solid #333;
  border-radius: 50%;
  box-shadow: 0 0 25px 0 #6b6b6b, 
              0 0 40px 0 #6836179a, 
              inset 0 0 25px 0 #3f3d3af5, 
              inset 0 0 40px 0 #2608089a;
  -webkit-filter: url(#wave);
          filter: url(#wave);
  -webkit-animation: reverse-rotate 50s linear infinite;  
          animation: reverse-rotate 50s linear infinite;        
}
@-webkit-keyframes reverse-rotate {
from {
  transform: rotate(0deg);
  }
  to {
    transform: rotate(-720deg);
  }
}
.hole {
  fill: #333;
  position: absolute;
  color: #333;
  background-color: #333;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 25px 0 #6b6b6b, 
              0 0 40px 0 #6836179a;              
  -webkit-filter: url(#displacementFilter);
          filter: url(#displacementFilter);  
  -webkit-animation: rotate 70s linear infinite;  
          animation: rotate 70s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);  
    }
  to {
    transform: rotate(360deg);  
  }  
}
/* @-webkit-keyframes rotateY {
  0% { transform: rotateY(0deg); }
  25% { transform: rotateY(-40deg); }
  50% { transform: rotateY(0deg);; }
  75% { transform: rotateY(40deg); }
  100% { transform: rotateY(0); }
} */



