* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  /* background: #333; */
}
svg {
  width: 0;
  height: 0;
}
.ring {
  position: relative;
  height: 400px;
  width: 400px;
  border: 10px solid #333;
  border-radius: 50%;
  box-shadow: 0 0 25px 0 #6b6b6b, 
              0 0 40px 0 #6836179a, 
              inset 0 0 25px 0 #3f3d3af5, 
              inset 0 0 40px 0 #2608089a;
  -webkit-filter: url(#wave);
          filter: url(#wave);
}
